
/* ****************************** BASE ****************************** */
* {
    box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
*:focus{
	outline:none;
}
@-ms-viewport {
	width: device-width;
}
:root{
	font-size:16px;
	--navbar: #1e284b;
	/*263169*/
	--body-bg: #afb4d2;
	--white: #ffffff;
	--tab-active: #4d557f; /*placeholder, select ph */
	--tab-text: #263169;
	--input-bg: #d6d9eb;
	--filter: #495057;
	--filter-border: #ced4da;
	--a-hover-bg: #dcd5ff; /*change */
	--a-hover-txt: #000; /*change*/
	--button: linear-gradient(#eeeeee, #80c6ff);
	--button-hover:linear-gradient(180deg,#80c6ff 0,#66a5ff 50%,#4b95ff 51%,#80c6ff 100%);
	--button-disabled:linear-gradient(#eeeeee, #80c6ff);
	--striped:rgba(0, 0, 0, 0.05);
	--tr-hover-bg: #adadff;
	--tbl-border: #dee2e6;
	--scroll: #000;
	--p-text: #0f1428;
	/* --burger-collapse-bg: #8474e4; /*change c2 opacity*/ 
	/* 00126d scroll */
	--btn-fill: #6d77a7;

}
html {
	height: 100%;
	box-sizing: border-box;
	/* overflow-y:scroll; */
}
body{
	background-color:var(--body-bg);
	margin:0px;
	position:relative;
	padding-bottom:1.5rem;
	min-height:100%;
	color:var(--p-text);
}
footer{
	position: absolute;
	right:0;
	left: 0;
	bottom: 0;
	padding:0.3rem; /*4.8px*/
	background-color: var(--navbar);
	color: var(--white);
	text-align: center;
	font-size:0.3rem;
	display:none;
}
h1{
	font-size:1.25rem;
	font-weight:700;
	margin:1px;
}
label{
	margin:0px;
}
a{
	text-decoration:none;
	color: var(--tbl-border);
}
p{
	color: #0f1428;
	/* font-size: 0.8em; */
	padding:10px 0;
	margin:0;
}

p > input[type=checkbox]{ /*registration*/
	height: 15px;
	margin:0;
	vertical-align:top;
	float:right;
}




/* ****************************** NAVBAR ****************************** */

.navbar{		
	width:100%;
	background: var(--navbar);
	font-weight:bold;
	position:fixed;
	left:0;
	top: 0;
	max-height:50px;
	z-index:1;
}
.navbar-brand{
	content: url("../img/logo_r.png");  
	width:230px;
	height:40px;
	padding:5px;
	min-height:50px;
	min-width:50px;
}
a.navbar-brand:hover{
	background-color:transparent;
}
a.navbar-menu-link:hover{
	color: var(--tab-text);
	background-color: var(--body-bg);
}
.navbar-menu-link:active{	/*require update. doesn't work*/
	color: var(--tab-text);
	background-color: var(--body-bg);
}
.tab.tab-active{
    background-color:var(--tab-active);
    color:var(--white);
}


/* ******************************SOMETHING****************************** */

select,option {
	width:200px;
}

.test {
  width: 24px;
  height: 24px;
  fill:none;
  stroke:currentColor;
  stroke-width:2px;
  stroke-linecap:round;
  stroke-linejoin:round;
}
.test:hover{
  fill:red;
  stroke:black;
}
.test-red{
  stroke:red;
}
.test-c{
  --c1: black;
  --c2: red;
}



/* ******************************FORMS****************************** */

form{
	display:block;
	/* padding:15px; comment*/ 
	margin: 0 auto;
}
.form{
    width:300px;
    flex-direction:row;
    justify-content:center;
    position:static;
    align-self:center;
    align-items:flex-start;
}
form.form.discipline.gen, form.form.gen  { /*genskl discskl forms*/
	width:560px;
	height:440px;
	text-align:left;
	word-wrap:break-word;
}
div > form.disc{	/* PROFILE CATEGORY DISCIPLINE */
	width:600px;
	/* display:block; */
	align-self:center;
	margin:0 0px 16px 0px;
	padding:0px;
	text-align:center;
}
tbody#form10{	/*DISCIPLINE SKILLS TABLE BODY*/
	height:330px;
}
.blank{
	border:none;
	padding:0px;
	margin:0px;
}
.form-group{ /*?*/
	width:300px;
	margin-left:auto;
	margin-right:auto;
}
.optional{	/*HOME.MANAGEMENT INVI/LIST FORMS*/
	padding:0px;
	margin-top:0px;
	
	width:35%;
	overflow:overlay;
	align-self:auto;
}
form#addSkillsForm.form.optional , 
div#showEducation.form.optional,
div#showEmployment.form.optional,
.button.btnoptional{ /*hidden buttons, hidden forms*/
	display:none;
}
form#addSkillsForm.form.optional{
	/* width:45%; */
	width:385px;
	overflow:overlay;
	height:495px; /*maybe?*/
}
form.form > .input.optional{ /*PROFILE EDUCATION COMPLETION DATE*/
	margin: 0 0 10px 0;
	display:none;
}

/* ******************************SKILLS MANAGEMENT****************************** */



/* ******************************ELEMENTS****************************** */

button, .btn,  input[type=submit], input[type=reset],input[type=button] { /*button styles*/
	width: 100%;
	height: 35px;
	background: var(--btn-fill);
	box-shadow: 0 2px var(--tab-active);
	margin:10px 0 5px 0;
	text-align:center;
	padding:0px;
	border:none;
	border-radius:2px;
	display:inline-block;
	/* text-transform: uppercase; */
	/* font-weight: 700; */
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	font-weight:bold;
	color: var(--a-hover-bg);
}
input {
	height:40px;
	padding:5px 0 5px 0;
	/* margin: 0 0 10px 0; */
	/* font-size:1em; */
    /* margin-bottom:15px; */
	border-radius:2px;
	box-sizing: border-box;
	border: 0px inset black;
	color: var(--tab-active); 
	/* background-color: #000000; */
}
/* input[type=button]{ */
	/* background-repeat: no-repeat; */
	/* background-color:transparent; */
	/* background-position:center; */
	/* box-shadow:none; */
	
	/* width:50%; */
	/* margin:0; */
	/* padding:0; */
/* } */
buttin:active{ /*press effect*/
	box-shadow:none;
}
input.button.regbtn{
	width:49%;
}
.btnfile{ /*FILE BUTTONS*/
	margin: 0px;
	width: 100%;
	vertical-align:middle;
	background:transparent;
	box-shadow:none;
}

.btn:after{ /*something*/
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
	
input.btnuser{
	width:50%;
	background-repeat: no-repeat;
	background-image: url("../img/icon/user.svg");
	background-color: transparent;
	color: transparent;
	background-position: center;
	box-shadow:none;
}
input.btnupload{
	background-image:url("../img/icon/share.svg");
}
/* input.btnupload{ */
	/* background-image:url("../img/icon/share.svg"); */
/* } */
input.btnclipboard{
	background-image:url("../img/icon/clipboard.svg");	
}
input.btnsave{
	background-image:url("../img/icon/check-circle.svg");	
}
/* input.btnupdate{ */
	/* background-image:url("../img/icon/edit.svg"); */
/* } */
input.btnupdate{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-edit'%3e%3cpath d='M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34'%3e%3c/path%3e%3cpolygon points='18 2 22 6 12 16 8 16 8 12 18 2'%3e%3c/polygon%3e%3c/svg%3e");
}
input.btncancel{
	background-image:url("../img/icon/x-circle.svg");	
}
input.btndelete{
	background-image:url("../img/icon/trash-2.svg");	
}
/* input[type=radio]{ */
	/* margin: 3px 20px; */
/* } */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-weight: 700;
	color: var(--p-text);
    /* border: 2px solid currentColor;	 */
    max-width: 90%;
	text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
	overflow: hidden;
    padding: 5px;
	align-self:center;
}
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
label#cfile{
	border-bottom: 2px solid black;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
	background-image: -webkit-linear-gradient(transparent, #000);
	background-image:
		-moz-linear-gradient(transparent, #000),
		-moz-linear-gradient(transparent, #000);
	background-image:
		-o-linear-gradient(transparent, #000),
		-o-linear-gradient(transparent, #000);
	background-image: 
		linear-gradient(transparent, #000),
		linear-gradient(transparent, #000); 
	-moz-background-size: 3px 100%;
	background-size: 2px 100%;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
}
form#addCat0.form > input[type=button]{	/*CATMAN OTHER FORM BUTTONS*/
	width:20%;
}
form.blank > input[type=submit]{ /*profile>users>go buttons */
	margin:5px 0 5px 0; 
}
/* .button:hover{ */
	/* background: var(--button-hover);	 */
/* } */
.button:disabled{
	/* background:green; */
	cursor: not-allowed;
	opacity:0.45;
}
/* .button:disabled:hover{ */
	/* background: var(--button-disabled); */
	/* color:graytext; */
/* } */



.val:valid{ /*valid input class */
	/* background-color: #93d0ad; */
}
input:invalid {
	/* border-style:solid; */
	/* border-color: #ff0000; */
	/* border-color: #555; */
	/* background-color: #7e7c84; */
	/* background-color: #a76868; pinkish */
	/* background: linear-gradient(#dbdbdb, #f7f7f7); */
	/* border-color: #f42c2c; */	
}
input:required {
  /* border-color: #800000; */
	/* border-width: 1px; */
	/* background-color: #e0eef9; */
	/* background-color: #7e7c84; */
	/* color: #1d1d1d; */
}
input:hover{
	/* background-color: #e0eef9; */
}
input:focus {
    /* border: 2px solid #555; */
}
select {
	border-radius: 2px;
}

#space{
	padding: 10px;
}


/* ******************************LINKS****************************** AND BUTTON SVG*/

a:hover {
	color: var(--a-hover-txt); /*black*/
	background-color: var(--a-hover-bg);
}
.btnfile > a.download::before{
	content: url("../img/icon/download.svg");
}
.btnfile > a.delete::before{
	content: url("../img/icon/trash-2.svg");
}
a#logout{
	padding:0px;
}
a#logout::before{
	content: url("../img/icon/log-out.svg");
}
a#logout:hover{
	background:transparent;
}

/* ******************************PREFERENCE ****************************** */

#preferences-tab > .row > .cell > form.form{
	width:auto;
}
#pref > input[type=radio]{
	height:unset;
}
#pref > label{
	font-size: 0.8rem;
	vertical-align:middle;
	margin-bottom:15px;
}
/* ******************************TABLES****************************** */

table{
	border-collapse:collapse;
}
.table {
    display:table;
    text-align:center;
	align-self:center;
	align-items:flex-start;
	position: static;
	margin-bottom: 0.5rem;
	background-color: transparent;
}
tbody#gensklstable > tr:hover, tbody#form10 > tr:hover{
	background-color: var(--tr-hover-bg);
}
.table th,.table td {
	padding: 10px;
	vertical-align: middle;
	border-top: 1px solid var(--tbl-border);
}
.table td{ /*user table*/
	padding: 5px 10px 5px 10px;;
}
.table thead th {
	vertical-align: bottom;
	border-bottom: 1px solid var(--tbl-border);
}
.table tbody{ /*?files - user*/
	/* display:table-row-group; */
}
table#user-table > tbody, .tblfiles>tbody{
	display:table-row-group;
}
.tblfiles{ /*FILES TABLE*/
	width:570px;
	margin:0px;
	margin-top:20px;
}
.tdfilename{
	width:79%;
	word-break:break-all;
}
.tdbuttons{
	width:10%;
}
.gstable{
	display:block;
}

tbody#gensklstable.specificTable{
	display:block;
	height:410px;
	vertical-align:middle;
	overflow:auto;
}


.table-responsive {
	display: block;
	width: calc(85%); /*to .table in boo */
	margin: 0 auto 0.5rem auto;
	/* overflow-x: auto; */
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
.cell {
    display:table-cell;
    vertical-align:middle;
}
.sname{ /*skill name */
	line-height:25px;
	width:365px;
	font-size:0.99em;
}
.shead{ /*SKILL HEADER*/
	/* width:555px; */
	width:570px;
	font-weight:bold;
	/* background:#8fa3ff; */
}
.sheadr{	/*SKILL HEADER RADIO*/
	width:60px;
	text-align:center;
	padding-bottom:10px;
}
.sheads{	/*SKILL HEADER SKILL*/
	/* width:365px; */
	/*width:362px; */
	width:370px;
	padding-bottom:10px;
}
.sn{
	width:75%;
}	


/* ******************************HELP****************************** */

/* #help { */
	/* font-size: 7em; */
/* } */

/* ******************************CHKBX****************************** */

.cpadding{
	margin: 0 20px 0 20px;
	border-bottom:1px;
	vertical-align:middle;
	width:20px;
}

/* ******************************SCROLLS****************************** */

::-webkit-scrollbar {
	width: 5px;
	height: 3px;
}
::-webkit-scrollbar-track {
/* border: 1px solid yellowgreen; */
/* border: 1px solid #80c6ff; */
/* border-radius: 10px; */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;

}
::-webkit-scrollbar-thumb {
	/* position:absolute; */
	/* background:linear-gradient(  #80c6ff,#e0eef9); */
	/* background: linear-gradient(#7c88da, #00126d ); light to dark */
	background:var(--input-bg); /*dark to light
	/* border-radius: 2px; */
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
::-webkit-scrollbar-thumb:hover {
/* background: #88ba1c;  greenish */
	/* background:red;	*/
	/* background: linear-gradient(#9956c9,#c9a2e5); */
}
/* ::-webkit-scrollbar-button:start{ */
	/* height:58px; */
	/* background:var(--navbar); */
/* } */
	/* ::-webkit-scrollbar-button:end{ */
		/* height:26px; */
		/* background:red; */
		/* background-blend-mode:luminosity; */
	/* } */
