@media (max-width: 768px){
	.c3690{
        flex-direction:column;
        justify-content:center;
        align-items:stretch;
		display:flex;
		padding-top:60px;
    }
    .navbar-burger{
        display:block;
    }
    .navbar-items-c{
        display:none;
        width:100%;
    }
    .navbar-menu{
        width:100%;
    }
    .navbar-menu-link{ /*BURGER MENU STYLE*/
        display:block;
		color: var(--tab-text);
    }
	.collapse:not(.show) { /*COLLAPSE MENU NOT SHOWING[working]*/
		display: none;
	}
	.items-c{
		position:absolute;
		right:0;
		top:50px;
		background:var(--a-hover-bg);
	}
	.tab-container{
		display: inline-flex;
		overflow: auto;
	}
}
@media (max-width: 480px){

	.c13731{
		font-size:20px;
	}
    .form{
        left:0px;
        right:0px;
        position:relative;
        width:100%;
        /* display:block; */
        bottom:0px;
    }
	div > form.disc{ /*PROFILE DISC FORMS*/
		width:100%;
		margin: 0 0 15px 0;
	}
	form.form.discipline.gen{
		width:340px;
		
	}
	.row > .cell > .form.gen{ /*general skills */
		width:100%; 
	}
	.form.gen.discipline > table > tbody { /*discipline skills body*/
		height:auto;
	}
	.optional{ /*FIX RELATED FORMS*/
		font-size:12px;
		min-height:265px;
		overflow:auto;
		vertical-align:middle;
	}
    .tab-content{
        padding-top:0px;
        padding-right:0px;
        padding-bottom:0px;
        padding-left:0px;
		
		height:100%;
		max-height: -webkit-fill-available;
    }
    .tab-container{
        float:none;
		font-size:15px;
		justify-content:normal;
    }
	.tab-container-reg{
		justify-content:center;
	}
	.table#user-table thead th{
		font-size:13px;
		vertical-align:inherit;
		text-align:left;
	}
	tbody {	/*BODY TABLES*/
		font-size:12px;
	}
	.table-responsive{
		width:100%;
	}
	/* .row{ */
		/* padding-left:5px; */
		/* padding-right:5px; */
	/* } */
	.row#mailing{
		padding:0;
		margin:0;
		width:100%;
	}
	.row#mailing > table { /*MAILING LIST TABLE*/
		display:table;
	}
	.sn{ /*SKILL NAME*/
		width:60%;
	}
	#tab-row.row{
		padding-left:0px;
		padding-right: 0px;
	}
	select{
		width:auto;
		padding: 5px;
		height: auto;
	}
	input{
		/* height:15px; */
	}
	.cpadding{
		width:24px;
		height:14px;
		margin-right:-1px;
		margin-left:13px;
	}
/*====================*/
	.navbar-burger:clicked{
		/* content: url("../img/logo_r.png"); */
	}
}
@media (max-height: 1000px){
	body{
		/* background:red; */
	}
}
@media (max-width: 992px){
    .form{
        left:0px;
        bottom:329px;
        flex-direction:column;
        align-self:center;
        flex-grow:0;
        flex-shrink:1;
        flex-basis:0px;
        position:relative;
        /* width:400px; */
        float:none;
        /* display:block; */
        align-items:center;
        justify-content:center;
        top:0px;
    }
    .tab-container{
        align-self:center;
        /* justify-content:center; */
        flex-direction:row;
    }
		form#addSkillsForm.form.optional{
		display:none;
	}
}
@media (min-width: 481px){	/*SPECIFIC ELEMENT STYLES FOR SCREEN 481-992*/
	.tab-container{
		justify-content:center;
	}
}
/* iPhone 5 ----------- */
@media (max-device-height: 568px){
	#genskl{
		/* height: calc(100% - 130px); */
	}
	tbody#gensklstable.specificTable{
		height: ;
	}
}

/* iPhone 6, 7, 8 ----------- */
@media (max-device-height: 667px){
/* Styles */
	#genskl{
		/* height: calc(100% - 130px); */
	}
}

/* iPhone 6+, 7+, 8+ ----------- */
@media (max-device-height: 736px) {
/* Styles */
	#genskl{
		/* height: calc(100% - 130px); */
	}
}

/* iPhone X ----------- */
@media (max-device-height: 812px){
/* Styles */
	#genskl{
		/* height: calc(100% - 130px); */
	}
		tbody#gensklstable.specificTable{
		height:525px;
	}
}

/* iPhone XS Max, XR ----------- */
@media (max-device-height: 896px) {
/* Styles */
	#genskl{
		/* height: calc(100% - 130px); */
	}
}

/* Samsung Galaxy S5 ----------- */
@media (max-device-height: 640px) {
/* Styles */
	#genskl{
		/* height: calc(100% - 130px); */
	}
	tbody#gensklstable.specificTable{
		height:355px ;
	}
}

@keyframes fadeEffect{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
