@media (max-width: 768px){
	.c3690{
        flex-direction:column;
        justify-content:center;
        align-items:stretch;
		display:flex;
		padding-top:60px;
    }
    .navbar-burger{
        display:block;
    }
    .navbar-items-c{
        display:none;
        width:100%;
    }
    .navbar-menu{
        width:100%;
    }
    .navbar-menu-link{ /*BURGER MENU STYLE*/
        display:block;
		color: var(--tab-text);
    }
	.collapse:not(.show) { /*COLLAPSE MENU NOT SHOWING[working]*/
		display: none;
	}
	.items-c{
		position:absolute;
		right:0;
		top:50px;
		background:var(--burger-collapse-bg);
	}
	.tab-container{
		display: inline-flex;
		overflow: auto;
	}
}
@media (max-width: 480px){

	.c13731{
		font-size:20px;
	}
    .form{
        left:0px;
        right:0px;
        position:relative;
        width:100%;
        /* display:block; */
        bottom:0px;
    }
	div > form.disc{ /*PROFILE DISC FORMS*/
		width:100%;
		margin: 0 0 15px 0;
	}
	form.form.discipline.gen{
		width:340px;
		
	}
	.row > .cell > .form.gen{
		width:100%; 
	}
	.optional{ /*FIX RELATED FORMS*/
		font-size:12px;
		min-height:265px;
		overflow:auto;
		vertical-align:middle;
	}
    .tab-content{
        padding-top:0px;
        padding-right:0px;
        padding-bottom:0px;
        padding-left:0px;
    }
    .tab-container{
        float:none;
		font-size:15px;
		justify-content:normal;
    }
	.tab-container-reg{
		justify-content:center;
	}
	.table#user-table thead th{
		font-size:13px;
		vertical-align:inherit;
		text-align:left;
	}
	tbody {	/*BODY TABLES*/
		font-size:12px;
	}
	.table-responsive{
		width:100%;
	}
	/* .row{ */
		/* padding-left:5px; */
		/* padding-right:5px; */
	/* } */
	.row#mailing{
		padding:0;
		margin:0;
		width:100%;
	}
	.row#mailing > table { /*MAILING LIST TABLE*/
		display:table;
	}
	.sn{ /*SKILL NAME*/
		width:60%;
	}
	select{
		width:auto;
		padding: 5px;
		height: auto;
	}
	
/*====================*/
	.navbar-burger:clicked{
		content: url("../img/logo_r.png");
	}
}
@media (max-width: 992px){
    .form{
        left:0px;
        bottom:329px;
        flex-direction:column;
        align-self:center;
        flex-grow:0;
        flex-shrink:1;
        flex-basis:0px;
        position:relative;
        /* width:400px; */
        float:none;
        /* display:block; */
        align-items:center;
        justify-content:center;
        top:0px;
    }
    .tab-container{
        align-self:center;
        /* justify-content:center; */
        flex-direction:row;
    }
		form#addSkillsForm.form.optional{
		display:none;
	}
}
@media (min-width: 481px){	/*SPECIFIC ELEMENT STYLES FOR SCREEN 481-992*/
	.tab-container{
		justify-content:center;
	}
}
@keyframes fadeEffect{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
