@media (max-width: 992px){
    .form{
        left:0px;
        bottom:329px;
        flex-direction:column;
        align-self:center;
        /* flex-grow:0; */
        /* flex-shrink:1; */
        /* flex-basis:0px; */
        position:relative;
        /* width:400px; */
        float:none;
        /* display:block; */
        align-items:center;
        justify-content:center;
        top:0px;
    }
    .tab-container{
        align-self:center;
        /* justify-content:center; */
        flex-direction:row;
		display: inline-flex;
		overflow: auto;
    }
	form#addSkillsForm.form.optional{
		display:none;
	}
}
@media (max-width: 768px){
	.c3690{
        flex-direction:column;
        justify-content:center;
        align-items:stretch;
		display:flex;
		padding-top:60px;
    }
    .navbar-burger{
        display:block;
    }
    .navbar-items-c{
        display:none;
        width:100%;
    }
    .navbar-menu{
        width:100%;
    }
    .navbar-menu-link{ /*BURGER MENU STYLE*/
        display:block;
		color: var(--tab-text);
    }
	.collapse:not(.show) { /*COLLAPSE MENU NOT SHOWING[working]*/
		display: none;
	}
	.items-c{
		position:absolute;
		right:0;
		top:50px;
		background:var(--a-hover-bg);
	}
	/* .tab-container{ */
		/* display: inline-flex; */
		/* overflow: auto; */
	/* } */
	div > form.disc{ /*PROFILE DISCIPLINE SELECTION*/
		width:100%;
	}	
	
	@media(max-height:1024px){
		tbody#gensklstable.specificTable{
			height:720px ;
		}	
	}
}
@media (max-width: 480px){
	.c13731{
		font-size:1.25rem; /*20px*/
	}
    .form{
        left:0px;
        right:0px;
        position:relative;
        width:100%;
        /* display:block; */
        bottom:0px;
    }
	.form-group{ /*form-group experiment*/
		width:unset;
	}
	#form-cell.form-cell-spec{ /*EDUCATION*/
		flex-direction:column;
	}
	.navbar{
		position:fixed;
	}
	.navbar-brand{
		content: url("../img/logo_flag.png");
		/* height:15px; */
		width:60px;
		padding-left:0px;
	}
	tbody {	/*BODY TABLES*/
		font-size:0.75rem; /*12px*/
	}
	.row > .cell > .form.gen{ /*general & discipline skills */
		width:100%; 
	}
	tbody#form10 { /*discipline skills body*/
		height:auto;
	}
	.optional{ /*FIX RELATED FORMS*/
		font-size:0.75rem; /*12px*/
		min-height:265px;
		overflow:auto;
		vertical-align:middle;
	}
	#showEducation.optional{
		background:blue;
	}
    .tab-content{
        padding-top:0px;
        padding-right:0px;
        padding-bottom:0px;
        padding-left:0px;
		
		height:100%;
		max-height: -webkit-fill-available;
    }
    .tab-container{
        float:none;
		font-size:0.9375rem; /*15px;*/
		justify-content:normal;
    }
	.tab-container-reg{
		justify-content:center;
	}
	.table#user-table thead th{
		font-size:0.8125rem; /*13px;*/
		vertical-align:inherit;
		text-align:left;
	}
	.table-responsive{
		width:100%;
	}
	.row#mailing{
		padding:0;
		margin:0;
		width:100%;
	}
	.row#mailing > table { /*MAILING LIST TABLE*/
		display:table;
	}
	.sn{ /*SKILL NAME*/
		width:60%;
	}
	#tab-row.row{
		padding-left:0px;
		padding-right: 0px;
	}
	select{
		width:auto;
		padding: 5px;
		height: auto;
	}
	.cpadding{
		width:24px;
		height:14px;
		margin-right:-1px;
		margin-left:13px;
	}
	.tblfiles{
		display:contents;
	}
	.tblfiles > tbody{
		overflow:overlay;
		height:250px; /*to be changed*/
	}
	.tdfilename{
		padding:0px;
	}
	button.btnfile{ /*make the button disappear*/
		background:transparent;
		box-shadow:none;
	}
	.btnfile > a.download::before{ /*download icon*/
		/* content: url("../img/1925.gif"); */
		/* content: url("../img/icon/download.svg"); */

	}
	.btnfile > a.delete::before{ /*delete icon*/
		/* content: url("../img/Zombie.ico"); */
	}
	a.download, a.delete{
		padding:0px;
	}
	.L span, .M span, .H span{
		display:none;
	}
	
	.L:after{
		content:"L";
	}
	.M:after{
		content:"M";
	}
	.H:after{
		content:"H";
	}
	
/* ***** ***** ***** ***** ***** PHONES ***** ***** ***** ***** ***** */

	/* iPhone XS Max, XR ----------- */
	@media (max-device-height: 896px){
		tbody#gensklstable.specificTable{
			height:615px;
		}
	}
	/* iPhone X ----------- */
	@media (max-device-height: 812px){ 
		tbody#gensklstable.specificTable{
			height:535px;
		}
	}
	/* iPhone 6+, 7+, 8+ , Nexus 6P, Google Pixel 2, Galaxy S8++ ----------- */
	@media (max-height:740px){
		tbody#gensklstable.specificTable{
			height:455px ;
		}
	}
	/* iPhone 6, 7, 8 ----------- */
	@media (max-device-height: 667px){
		tbody#gensklstable.specificTable{
			height:395px ;
		}
	}
	/* Samsung Galaxy S5 ----------- */
	@media (max-height:640px){
		tbody#gensklstable.specificTable{
			height:355px ;
		}
	}
	/* iPhone 5 ----------- */
	@media (max-height: 568px){
		tbody#gensklstable.specificTable{
			height:295px ;
		}
	}
}

@media (min-width: 481px){	/*SPECIFIC ELEMENT STYLES FOR SCREEN 481-992*/
	.tab-container{
		justify-content:center;
	}
}


@keyframes fadeEffect{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
