

#helptext {
	font-size: 0.95em;
	font-family: Arial;
}
.input{
    width:100%;
    margin-bottom:10px;
    background-color:var(--input-bg);
    /* display:inline-block; */
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
}
.select{
    width:100%;
	padding: 7px 10px;
    color:var(--tab-active);
	border-width:initial;
	border-style:none;
	border-color:initial;
    height:40px;
    text-align:center;
    float:none;
    margin:0 0 10px 0;
    background-color:var(--input-bg);
    text-align-last:center;
    direction:ltr;
}
.items-c{
    display:inline-block;
    float:right;
}
.navbar-container{
    max-height:50px;
    margin-top:0px;
    margin-right:auto;
    margin-bottom:0px;
    margin-left:auto;
    width:95%;
}
.navbar-container::after{
    content:"";
    clear:both;
    display:block;
}
.navbar-menu{
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;
    display:block;
    float:right;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
	/* height:50px; */
}
.navbar-menu-link{
	color:var(--white);		
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
    text-decoration-line:none;
    text-decoration-style:initial;
    text-decoration-color:initial;
    display:inline-block;
    padding-top:20px;
    padding-right:15px;
    padding-bottom:20px;
    padding-left:15px;
    font-family:Helvetica, serif;
	/* height:inherit; */
}
.navbar-menu .navbar-menu-link.active{ /*not working */
	background:red;
	color:white;
}
.navbar-burger{
    margin-top:10px;
    margin-right:0px;
    margin-bottom:10px;
    margin-left:0px;
    width:45px;
    padding-top:5px;
    padding-right:10px;
    padding-bottom:5px;
    padding-left:10px;
    display:none;
    float:right;
    cursor:pointer;
}
/* div[aria-expanded="true"]{ */
	/* content: url("../img/1925.gif");  */
	/* margin:0; */
	/* padding: 0 5px; */
/* } */
.navbar-burger-line{
	background-color:var(--white);
    padding-top:1px;
    padding-right:1px;
    padding-bottom:1px;
    padding-left:1px;
    margin-top:5px;
    margin-right:0px;
    margin-bottom:5px;
    margin-left:0px;
}
.row{
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:wrap;
    /* padding-top:10px; */
    padding-right:10px;
    /* padding-bottom:10px; */
    padding-left:10px;
}
#users-tab > #tab-row.row {
	flex-direction:column;
	align-items:center;
}
#tab-row.row > select#datatable0 {
	width:50%;
}

.tab{
    text-decoration-line:none;
    text-decoration-style:initial;
    text-decoration-color:initial;
    color:inherit;
    padding-top:7px;
    padding-right:14px;
    padding-bottom:7px;
    padding-left:14px;
    transition-duration:0.3s;
    transition-timing-function:ease;
    transition-delay:0s;
    transition-property:opacity;
    display:inline-block;
	border-radius:2px;
	margin:1px;
}

.tab-content{
	padding: 6px 10px;
    min-height:100px;
    animation-duration:1s;
    animation-timing-function:ease;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:normal;
    animation-fill-mode:none;
    animation-play-state:running;
    animation-name:fadeEffect;
	margin-top:15px;
}
.tab-container{
    text-align:center;
    align-self:flex-start;
    float:none;
    color:var(--tab-text);
	margin: 0 auto;
	width:100%;
	padding-bottom:5px;
}
#form-cell{
    justify-content:center;
    flex-direction:column;
    align-self:center;
    flex-basis:100%;
    display:flex;
	width:100%; /*added this experiment*/
}
#form-cell.form-cell-spec{ /*EDUCATION || EMPLOYMENT || MAILING || MANAGEMENT*/
	flex-direction:row;
}
#form-cell.form-cell-spec > form.form{ /*FLEX FORMS*/
	margin:0 2%;
	flex-basis:auto;
	align-self:auto;
	/* width:25%; */ /*something wrong when option form is empty*/
}
#form-cell > div#showEducation{
	width:335px;
	align-self:auto;
}
#form-cell > div#showEducation > tr{ /*EDUCATION*/
	vertical-align:middle;
}
#form-cell > div#showEducation > tr > :first-child{
	width:80%;
	word-break: break-word;
}
#form-cell > div#showEducation > tr > :nth-child(2),
#form-cell > div#showEducation > tr > :last-child{
	width:10%;
}
#form-cell > div#showEducation > tr > :nth-child(2) > input[type=button],
#form-cell > div#showEducation > tr > :last-child > input[type=button]{
	background-repeat: no-repeat;
	background-color:transparent;
	background-position:center;
	box-shadow:none;
	margin:0;
	padding:0;
}
#form-cell > div#showEmployment{
	width:335px;
	align-self:auto;
}
#form-cell > div#showEmployment > tr{
	vertical-align:middle;
}
#form-cell > div#showEmployment > tr > :first-child{
	width:80%;
}
#form-cell > div#showEmployment > tr > :nth-child(2),
#form-cell > div#showEmployment > tr > :last-child{
	width:10%;
}
#form-cell > div#showEmployment > tr > :nth-child(2) > input[type=button],
#form-cell > div#showEmployment > tr > :last-child > input[type=button]{
	background-repeat: no-repeat;
	background-color:transparent;
	background-position:center;
	box-shadow:none;
	margin:0;
	padding:0;
}
#form-cell > form#contact{ /*CONTACT DETAILS*/
	width:50%;
}
#form-cell > form#contact > table{ 
	width:100%;
}
#form-cell > form#contact > table > tbody > tr{ 
	height:50px;
	color:var(--p-text);
}
#form-cell > form#contact > table > tbody > tr > :first-child{ /*column 1*/
	width:30%;
	font-weight:bold;
}
#form-cell > form#contact > table > tbody > tr > :nth-child(2){ /*column 2*/
	width:50%;
}
#form-cell > form#contact > table > tbody > tr > :nth-child(2) > select{ 
	margin:0;
	height:35px;
	width:60%;
}
#form-cell > form#contact > table > tbody > tr > :nth-child(2) > input{ 
	margin:0;
	height:35px;
	width:100%;
}
#form-cell > form#contact > table > tbody > tr > :nth-child(2) > select#dayUpd{ 
	width:27%;
}
#form-cell > form#contact > table > tbody > tr > :nth-child(2) > select#monthUpd{ 
	width:31%;
}
#form-cell > form#contact > table > tbody > tr > :nth-child(2) > select#yearUpd{ 
	width:35%;
}
#form-cell > form#contact > table > tbody > tr > :last-child{ /*column 3*/
	display:flex;
}
#form-cell > form#contact > table > tbody > tr > :last-child > input[type=button]{ /*column 3*/
	margin:5px;
	color:black; /*remove*/
	background-repeat: no-repeat;
	background-color:transparent;
	background-position:center;
	box-shadow:none
}
#form-cell > form#file-form{
	width:auto;
}
#form-cell > form#file-form > div#uploadsform{
	display:flex;
}
#form-cell > form#file-form > div#uploadsform > input[type=submit]{
	background-repeat: no-repeat;
	background-color:transparent;
	background-position:center;
	box-shadow:none;
	color:transparent;
	margin:0;
	width:auto;
	height:33px;
}
#form-cell > form#file-form > div#uploadsform > input#file{
	align-self:center;
	height:21px;
	padding:0;
	margin:0;
}
#form-cell > table#fileTabel > tr > :nth-child(2) > button > a:hover {
	background-color:transparent;
}
#form-cell > table#fileTabel > tr > :last-child > button > a:hover {
	background-color:transparent;
}	
#form-cell > form#addSkillsForm > tr{
	display:table;
	width:100%;
}
#form-cell > form#addSkillsForm > tr > :first-child{
	width:75%;
	vertical-align:middle;
}
#form-cell > form#addSkillsForm > tr > :last-child{
	/* background:red; */
	width:25%;
}
#form-cell > form#addSkillsForm  > tr > :last-child > input[type=button]{
	background-repeat: no-repeat;
	background-color:transparent;
	background-position:center;
	box-shadow:none;
	
	width:50%;
	margin:0;
	padding:0;
}
#form-cell > form#addCat0 > tr{
	width:100%;
}
#form-cell > form#addCat0 > tr > :first-child{
	vertical-align:middle;
	width:30%;
}
#form-cell > form#addCat0 > tr > :nth-child(2), #form-cell > form#addCat0 > tr > :last-child{
	width:5%
}
#form-cell > form#addCat0 > tr > :nth-child(2) > input[type=button], #form-cell > form#addCat0 > tr > :last-child > input[type=button]{
	background-repeat: no-repeat;
	background-color:transparent;
	background-position:center;
	box-shadow:none;
	margin:0;
	padding:0;
}
#form-cell > form#addUni0{
	width:45%;
}
#form-cell > form#addUni0 > table#uniTable > tr{
	width:100%;
}
#form-cell > form#addUni0 > table#uniTable > tr > :first-child{
	width:70%;
}
#form-cell > form#addUni0 > table#uniTable > tr > :nth-child(2),
#form-cell > form#addUni0 > table#uniTable > tr > :last-child{
	width:15%;
}
#form-cell > form#addUni0 > table#uniTable > tr > :nth-child(2) > input[type=button],
#form-cell > form#addUni0 > table#uniTable > tr > :last-child > input[type=button]{
	background-repeat: no-repeat;
	background-color:transparent;
	background-position:center;
	box-shadow:none;
	margin:0;
}
#form-cell > div#mailing{
	display:block;
	width:65%;
	margin: 0 auto;
}
#form-cell > div#mailing > table{
	display:table;
	margin:0;
	width:100%;
}
#form-cell > div#mailing > table > tbody{ /*remove*/
	color: var(--p-text);
}
#form-cell > #container-border{ 
	width:550px;
	display:flex;
	flex-direction:column;
	align-self:center;
	
	height:200px;
	margin-top:20px;
	
	border-top: 3px solid black;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(#000, transparent);
	background-image:
		-moz-linear-gradient(#000, transparent),
		-moz-linear-gradient(#000, transparent);
	background-image:
		-o-linear-gradient(#000, transparent),
		-o-linear-gradient(#000, transparent);
	background-image: 
		linear-gradient(#000, transparent),
		linear-gradient(#000, transparent);
	-moz-background-size: 3px 100%;
	background-size: 3px 100%;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat; 
  
	
}
#form-cell > #container-border > input#clipboard{
	width:40px;
	height:40px;
	align-self:center;
	background-repeat: no-repeat;
	background-color:var(--body-bg);
	background-position:center;
	box-shadow:none;
	margin:-24px 0 0 0;
}
#form-cell > #container-border > div#mailBox{
	align-self:center;
	width:90%;
	margin: 10px 0;
	padding:5px;
	text-align:justify;
	
	border-style:double double none double;
	height:75px;
}



#bootstable-row{
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;
}
::placeholder{
    color:var(--tab-active);
    opacity:0.8;
}
#iuxvnm{
    flex-direction:column;
}
